{% extends 'base.html' %} {% block title %}About Us{% endblock %}

{% block content %}
<br>
<h1 align="center">About Us</h1>
<img id="old_spice" src="../static/img/permanent/old_spice_man.jpeg">
<br>
<p>
    Hello ladies. Look at your man, now back to me, now back to your man, now back to me. Sadly, he can’t be me. But if
    he used Old Spice instead of ladies body wash, he could smell like he is me. Look down, back up, where are you? In
    my sex torture chamber. What’s in your hand, back at me. I have it, its a pair of scissors I will use to cut your
    labia. Look again, the scissors are now a concrete dildo which I will shove into both of your entrances until you
    can’t take it anymore. Look down again, Back up. Where are you? In the same place. Hold still. Anything is possible
    when you man smells lile old spice and not a lady. I'm on a horse.
</p>
{% endblock %}