{% extends 'base.html' %} {% block title %}FAQs{% endblock %}

{% block content %}
<br>
<h1 align="center">Frequently Asked Questions</h1>
<br>
<ul>
    <li>
        Will buying your product give my life purpose?
        <br>
        <br>
        - For a couple minutes but then you'll have to find something else to do.
    </li>
    <br>
    <li>
        What is love and how can I share it with others?
        <br>
        <br>
        - Love is the bedrock of Creation and if you wish to share it with others you must empty yourself of all selfish
        desires and commit yourself to a life of service. While this may sound difficult, it's worth sacrificing
        everything for.
    </li>
    <br>
    <li>
        What is 9 x 3?
        <br>
        <br>
        - 27.
    </li>
    <br>
    <li>
        Who would win in a fight: Batman or Superman.
        <br>
        <br>
        - One of them has heat vision, the power of flight, can lift 200 quadtrillion tons, and is immune to bullets.
        The other has an expensive gadget belt and a fancy car. I'll let you
        answer that, next question.
    </li>
    <br>
    <li>
        What's your favorite cloud?
        <br>
        <br>
        - Stratus Cumulus.
    </li>
    <br>
</ul>

{% endblock %}