{% extends 'base.html' %} {% block title %}Product Showcase{% endblock %}

{% block content %}
<br>
<h1>Something</h1>
<div class="container" id="products">
    <div class="row">
        <div class="col-md-4">
            <br>
            <image class="product_showcase" src="../static/img/products/{{ image.image }}"></image>
            <br>
            ID: {{ product.id }}
            <br>
            Name: {{ product.name }}
            <br>
            Category: {{ product.category }}
            <br>
            Type: {{ product.type }}
            <br>
            Price: ${{ product.price }}
            <br>
            Quantity: {{ product.quantity }}
            <br>
            Description: {{ product.description }}
            <br>
            <button type="button" class="btn btn-primary" onClick="addCart({{ product.id }})">Add to Cart</button>
        </div>
    </div>
    {% endblock %}