{% extends 'base.html' %} {% block title %}Products{% endblock %}

{% block content %}
<br>
<h1 align="center">Products</h1>
<div class="container" id="products">
    <div class="row">
        {% for product in products %}
        {% for img in images %}
        {% if product.id == img.product_id %}

        <div class="col-md-4">
            {% if current_user.admin == True %}
            <button type="button" class="close" onClick="deleteProduct({{ product.id }})">
                <span aria-hidden="true">&times;</span>
            </button>
            {% endif %}
            <br>
            <image class="product" src="../static/img/products/{{ img.image }}" onClick="product({{ product.id }})">
            </image>
            <br>
            <h2>{{ product.name }}</h2>
            <h3>${{ product.price }}</32>
                <br>
                <button type="button" class="btn btn-primary" onClick="addCart({{ product.id }})">Add to Cart</button>
        </div>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>


</div>

{% endblock %}