{% extends 'base.html' %} {% block title %}Shopping Cart{% endblock %}
{% block content %}
<h1>
    This is your cart nerd
</h1>

{% for cart in carted %}

<li class="list-group-item">
    <button type="button" class="close" onClick="deleteCart({{ cart[0][2] }})">
        <span aria-hidden="true">&times;</span>
    </button>
    <br>
    Product ID: {{ cart[0][0] }}
    <br>
    Quantity: {{ cart[0][1] }}
    <br>
    Img: <image src="../static/img/{{ cart[1] }}"></image>
    <br>
</li>

{% endfor %}


{% endblock %}